/* #region debug */
.debug nav {
    /* background-color: aqua;
    height: 50px; */
}

.debug header {
    background-color: blue;
    /* height: 100px; */

}

.debug main {
    /* background-color: lightgrey;
    height: 900px; */
}

.debug footer {
    background-color: rgba(0, 0, 0, 0.905);
    /* height: 300px; */
}

/* #endregion debug */

/* #region Common */
:root {
    --discor-primary: rgba(38, 93, 232, 1);
    --discord-secondary: rgba(142, 161, 225, 1);
    --discord-light: rgba(246, 246, 246, 1);
    --discord-lighter: rgba(255, 255, 255, 1);
    --discord-dark: rgba(35, 39, 42, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 65px;
    padding-bottom: 3rem;
    color: var(--discord-lighter);
}
h2 {
    font-size: 55px;
}
h4 {
    color: var(--discord-secondary);
    font-size: 36px;
    padding-bottom: 2rem;
    font-weight: ;
}

ul {
    list-style: none;
    color: var(--discord-lighter)
}

nav {
    background-color: var(--discor-primary);
}

header {

    background-image: url(../img/jumbo.png);
    /* height: 500px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* #endregion Common */

/* #region Utilities */
.flex-container {
    display: flex;
    width: 70%;
    margin: auto;

}

.mg-1 {
    margin-top: 0.6rem;
}

.reverse {
    flex-direction: row-reverse;
}

/* #endregion Utilities */
/* #region Header */
.logo-cont {
    width: 25%
}

.logo {
    align-items: center;
    text-align: start;
    width: 40%;
}

.links {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    color: var(--discord-lighter);
    font-size: small;

}

.acces {
    flex-grow: 1;
    text-align: end;


}

.login {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 120px;
    font-size: small;

}

.top-navigator {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.top-banner {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 9rem 0;

}

/* #endregion Header */

/* #region Main */
.first-content {
    /* background-color: dodgerblue; */
    /* height: 25rem; */
    width: 70%;
}

.second-content {
    /* background-color: pink; */
    width: 30%;
}

.first-section {
    background-color: var(--discord-lighter);
    /* margin: 5rem 0; */
    padding: 10rem 0;
}

.second-section {
    background-color: lightgrey;
    padding: 10rem 0;
    
}

.third-section {
    background-color: white;
    padding: 10rem 0;
}

.fourth-section {
    background-color: lightgrey;
    padding: 10rem 0;
}


.primary-content {
    /* background-color: rgb(16, 92, 4); */
    justify-content: center;
    /* height: 40rem; */
    align-items: center;
    flex-direction: column;
}

.top-speach {
    font-size: 22px;
    color: var(--discord-lighter);
}

.section-speach {
    font-size: 22px;
    margin: 3rem 0;
}

.img-voice {
    vertical-align: middle;
    width: 100%;
}

.img-study-group {
    vertical-align: middle;
    width: 100%;
}

.img-coach {
    vertical-align: middle;
    width: 100%;
}

.download-but {
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-around;
}

.download-mac {
    background-color: var(--discord-lighter);
    padding: 1rem 1.5rem;
    border-radius: 120px;
}

.bottom-mac-d {
    background-color: var(--discord-secondary);
    padding: 0.5rem 1rem;
    border-radius: 120px;
    margin-top: 2rem;
    color: var(--discord-lighter);
}

.open-browser {
    background-color: var(--discord-dark);
    padding: 1rem 1.5rem;
    border-radius: 120px;
    color: var(--discord-lighter);
}

.back-stars {
    font-size: 35px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding: 2rem 4rem;
    background-size: contain
}

/* #endregion Main */

/* #region Footer */
#side_footer {
    background-color: var(--discord-dark);
}

.bottom-credits {
    flex-grow: 2;
    padding: 2.1rem 0;
}


.bottom-contacts {
    flex-grow: 1;
    font-size: 18px;
    padding: 3rem 0;
}

.col-sec {
    color: var(--discord-secondary);
}

.bottom-banner {
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 1rem 0;
}

.bottom-b {
    border-bottom: 1px solid var(--discord-light);
}


.italian-flag {
    width: 20px;
}

.language {
    color: var(--discord-lighter);
    font-size: 18px;
    margin-top: 3rem;
}

.regis {
    background-color: var(--discord-secondary);
    color: var(--discord-lighter);
    padding: 0.5rem 1rem;
    border-radius: 120px;
    font-size: small;

}

/* #endregion Footer */